/*Use this for custom stuff*/

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: lavender;
}

.container{
  
}

.col-md-6{
  text-align: center;
}

.col-md-12{
  text-align: center;
}

.col-md-4{
  text-align: center;
}

.menu item{
  font-weight: bold;
  font-family: :"Times New Roman";
}

.description{
  font-style: italic;
}

h1, h2, h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  text=align: center;
}


<style>
  #map_canvas {
     width: 500px;
     height: 400px;
   }
</style>
