/*Use this for custom stuff*/

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: lavender;
}


.col-md-6, .col-md-12, .col-md-4, .col-md-3, .col-md-2 {
  text-align: center;
}

.fries, .sides{
  padding-top: 20px;
}

.menu{
  font-weight: bold;
  font-family: :"Times New Roman";
}

.description{
  font-style: italic;
  font-family: :"Times New Roman";
}

h1{
  text-align: right;
}

h2, h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  text=align: center;
}


<style>
  #map_canvas {
     width: 500px;
     height: 400px;
   }
</style>
